In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv('customer.csv')
df = df.iloc[:,2:]
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [5]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df.iloc[:,0:2], df.iloc[:, -1], test_size=0.2)

In [6]:
x_train

     review education
34  Average    School
6      Good    School
16     Poor        UG
29  Average        UG
45     Poor        PG
13  Average    School
49     Good        UG
47     Good        PG
19     Poor        PG
22     Poor        PG
1      Poor        UG
21  Average        PG
41     Good        PG
12     Poor    School
35     Poor    School
24  Average        PG
38     Good    School
14     Poor        PG
33     Good        PG
10     Good        UG
2      Good        PG
32  Average        UG
48     Good        UG
43     Poor        PG
7      Poor    School
15     Poor        UG
18     Good    School
23     Good    School
44  Average        UG
20  Average    School
3      Good        PG
4   Average        UG
17     Poor        UG
46     Poor        PG
31     Poor    School
8   Average        UG
0   Average    School
36     Good        UG
42     Good        PG
9      Good        UG

In [7]:
x_test

     review education
27     Poor        PG
11     Good        UG
39     Poor        PG
30  Average        UG
25     Good    School
26     Poor        PG
40     Good    School
28     Poor    School
5   Average    School
37  Average        PG

In [8]:
from sklearn.preprocessing import OrdinalEncoder
oe = OrdinalEncoder(categories=[['Poor', 'Average', 'Good'],['School','UG','PG']])

oe.fit(x_train)
x_train =oe.transform(x_train)
x_test = oe.transform(x_test)

In [9]:
oe.categories

[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']]

In [10]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit(y_train)
le.classes_

array(['No', 'Yes'], dtype=object)

In [11]:
y_train = le.transform(y_train)
y_test = le.transform(y_test)

In [12]:
y_train

array([0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1])